<style>
  .monForm{
 
    padding-top: 7px;
    margin: 0px;
    padding-left: 226px;
    padding-right: 301px;
   height: 814px;
  }
    .monForm1{
 
      top: -287px;
    left: 226px;
    position:relative;
    height: 280px;
  }
 
  .modif{
        width: 127px;
  }
 
</style>
<div class="jumbotron">
<form class="monForm" action="/users/profil/" method="POST" >
 
    
      <div> <label for="inputState"  >Genre</label>
      <select id="inputState" class="form-control" name="genre" value={{data.genre}} >
        


         {{#if data.genre}}
         <option selected> {{data.genre}} </option>
         <option  > Femme </option>
        <option> Homme </option>
          {{else}}
        <option selected > indeterminer </option>
        <option  > Femme </option>
        <option> Homme </option>
         {{/if}}

         
         
      

      
      </select>
      </div>
      
<div>
      <label for="inputEmail4">Nom</label>
     
       
        <input type="text" class="form-control" id="inputPassword4" name= "name" {{#if data.name}} value={{data.name}} {{/if}} placeholder="Nom">
 
         
  </div>

    <div>
  {{!-- <div class="form-group col-md-6"> --}}
      <label for="inputPassword4">Prénom</label>
      <input type="text" class="form-control" id="inputEmail4" name= "prenom" {{#if data.prenom}} value={{data.prenom}} {{/if}} placeholder="Prénom">
    </div>

      <div>  {{!-- <div class="form-group col-md-6"> --}}
      <label for="inputPassword4">Date de Naissance</label>
      <input type="date" class="form-control" name="dateNaissance" {{#if data.dateNaissance}} value={{data.dateNaissance}} {{/if}} id="inputEmail4">
    </div>

      <div>
    {{!-- <div class="form-group col-md-6"> --}}
      <label for="inputPassword4">Email</label>
      <input type="email" class="form-control" name="email" id="inputPassword4" value={{data.email}}>
    </div>
  
  <div class="form-group">
    <label for="inputAddress">Ville</label>
    <input type="text" class="form-control" name= "ville" id="inputAddress" {{#if data.ville}} value={{data.ville}} {{/if}} placeholder="Ville">
  </div>

  <div class="form-group">
    <label for="inputAddress2">Mobile</label>
    <input type="text" class="form-control" name= "mobile" id="inputAddress2" {{#if data.mobil}} value={{data.mobile}} {{/if}} placeholder="Mobile">
  </div>
  <button type="submit" class="btn btn-primary modif">Modifier Profil</button>

   </form>     
   <form class="monForm1" action="/users/desactiver/" Method="POST">
        <button type="submit" class="btn btn-primary">Désactiver Profil</button>
      </form> </div>
            <div>